*env/
*.pyc
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
*.swp
*~
.vscode
.env
.env.development
.env.production
venv
venv3
mypy.ini
.idea
setup.cfg


/.VSCodeCounter
.DS_Store